apiVersion: apps.gitlab.com/v1beta2
kind: Runner
metadata:
  name: techdocs-runner
  namespace: {{ ocp4_workload_platform_engineering_workshop_gitlab_namespace }}
spec:
  gitlabUrl: 'https://{{ ocp4_workload_platform_engineering_workshop_gitlab_config_host }}'
  token: gitlab-dev-runner-secret
